@model Order
@{
    // TODO add shipping time to settings.
    // TODO come back and look at printing invoices
    // TODO calculate total when order is created


    double totalPrice = 0;
    foreach (var item in Model.Items)
    {
        totalPrice += (item.PricePerUnit * item.AmountOrdered);
    }
    string uid = Model.Purchaser.Id;
    string statusColor;
    statusColor =
        Model.Status == OrderStatus.Paid ? "text-primary" :
        Model.Status == OrderStatus.ReadyToShip ? "text-warning" :
        Model.Status == OrderStatus.Received ? "text-secondary" :
        Model.Status == OrderStatus.Shipped ? "text-success" : "";
}
<div class="order-wrapper">
    <div class="list-group">
        @foreach (OrderItem item in Model.Items)
        {
            <div class="list-group-heading p-1 mx-2">
                &nbsp;<i class="bi bi-chevron-double-right"></i>
                &nbsp;<i class="bi bi-person"></i>
                &nbsp;@Model.Purchaser.FName[0]. @Model.Purchaser.LName
                <br />
                &nbsp;<i class="bi bi-chevron-double-right"></i>
                &nbsp;<i class="bi bi-calendar-day"></i>
                &nbsp; @Model.DateOrdered.DayOfWeek.ToString()[..3] @Model.DateOrdered.Day

                <a href="" class="contact-link bi bi-chat-heart-fill" data-bs-toggle="tooltip" data-bs-title="contact @Model.Purchaser.FName @Model.Purchaser.LName">

                </a>
            </div>

        }
    </div>

</div>
