@model Order
@{
    double totalPrice = 0;
    foreach (var item in Model.Items)
    {
        totalPrice += (item.PricePerUnit * item.AmountOrdered);
    }


    // set the color of the status icon.
    string statusColor;
    statusColor =
        Model.Status == OrderStatus.Paid ? "text-primary" :
        Model.Status == OrderStatus.ReadyToShip ? "text-warning" :
        Model.Status == OrderStatus.Received ? "text-secondary" :
        Model.Status == OrderStatus.Shipped ? "text-success" : "";

    UserSettings settings = (UserSettings)ViewData["settings"]!;
}
<div class="order-wrapper">
    <table class="table table-sm order-header gap-0 table-borderless my-0">
        <tbody>
            <tr>
                <td>
                    <div class="h5">
                        @Model.Purchaser.FName[0]. @Model.Purchaser.LName
                    </div>
                    <div>
                        @Model.Address.AddressLine1 <br />
                        @Model.Address.CityTown, &nbsp; @Model.Address.StateAbr

                    </div>

                </td>
                <td class="truncate">

                    <i class="bi bi-calendar-plus-fill text-success"></i>
                    @Model.DateOrdered.ToLongDateString().Split(",")[1]
                    <br />
                    <i class="bi bi-calendar-check-fill text-warning"></i>
                    @Model.DateOrdered.AddDays(settings.DaysTillShipmentIsLate).ToLongDateString().Split(",")[1]
                    <br />
                    <span class="@statusColor">
                        @Model.Status
                    </span>
                </td>
                <td>
                    <div class="order-buttons list-group">
                        <a asp-action="" class="bi bi-chat-heart-fill btn btn-link contact-link list-group-item-action list-group-item-success" data-bs-toggle="tooltip" data-bs-title="contact @Model.Purchaser.FName @Model.Purchaser.LName">
                        </a>

                        <a class="btn btn-link list-group-item-action list-group-item-success">

                            <i class="bi bi-box2-heart-fill"></i>
                        </a>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

    <table class="table my-0">
        <thead>
            <tr>
                <td>
                    <div class="text-secondary list-inline-item">Items</div>
                </td>
                <td>
                    color
                </td>
                <td>
                    <div class="text-secondary list-inline-item">qty</div>
                </td>
                <td>
                    <div class="text-secondary">price</div>
                </td>
            </tr>

        </thead>

        <tbody>
            @foreach (OrderItem item in Model.Items)
            {
                <tr>
                    <td class="d-inline-flex flex-row flex-shrink-1">
                        <div>
                            @item.Item.Name
                        </div>
                        <div>
                            @if (item.Item.ProductImage is not null)
                            {
                                <div class="list-inline-item p-1"><img class="img-thumbnail" width="50" src="data:image;base64,@Convert.ToBase64String(item.Item.ProductImage.ImageData)" alt="Product Image"></div>
                            }

                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="list-inline-item start-50 translate-middle-x position-absolute">@item.AmountOrdered</div>
                    </td>
                    <td>@item.PricePerUnit</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-group-divider">
                <td colspan="2" class="text-left">Total</td>
                <td colspan="2" class="text-right">@totalPrice</td>
            </tr>

        </tfoot>
    </table>

</div>
