@model Order
@{
    double totalPrice = 0;
    foreach (var item in Model.Items)
    {
        totalPrice += (item.PricePerUnit * item.AmountOrdered);
    }
    string uid = Model.Purchaser.Id;
    string statusColor;
    statusColor =
        Model.Status == OrderStatus.Paid ? "text-primary" :
        Model.Status == OrderStatus.ReadyToShip ? "text-warning" :
        Model.Status == OrderStatus.Received ? "text-secondary" :
        Model.Status == OrderStatus.Shipped ? "text-success" : "";
}
<div class="order-wrapper">
    <div class="order-header">

        <ul class="list-inline">
            <li class="list-inline-item">
                &nbsp;<i class="bi bi-person mx-1"></i>
                &nbsp;<i class="bi bi-chevron-double-right"></i>
                &nbsp;@Model.Purchaser.FName[0]. @Model.Purchaser.LName
                &nbsp;<i class="bi bi-calendar-day mx-1 ml-4"></i>
                &nbsp;<i class="bi bi-chevron-double-right"></i>
                &nbsp; @Model.DateOrdered.DayOfWeek.ToString()[..3] @Model.DateOrdered.Day

                <a href="" class="contact-link bi bi-chat-heart-fill" data-bs-toggle="tooltip" data-bs-title="contact @Model.Purchaser.FName @Model.Purchaser.LName">

                </a>
            </li>
        </ul>
    </div>
    @foreach (OrderItem item in Model.Items)
    {
        <ul class="list-group list-group-horizontal d-block-flex">
            <li class="list-inline-item">@item.Item.Name</li>

            <li class="list-inline-item"> x @item.AmountOrdered</li>
            @if (item.Item.ProductImage is not null)
            {
                <li class="list-inline-item ms-auto mx-2 p-1"><img class="img-thumbnail" width="50" src="data:image;base64,@Convert.ToBase64String(item.Item.ProductImage.ImageData)" alt="Product Image"></li>
            }
        </ul>
    }

</div>
